* {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.row {
  margin: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.navbar-collapse--config {
  background: transparent;
}

@media screen and (max-width: 992px) {
  .navbar-collapse--config {
    background: #343a40;
  }
}

@media screen and (max-width: 576px) {
  .navbar-collapse--config {
    background: transparent;
  }
}

.navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    border-bottom: none;
  }
}

.nav-item {
  position: relative;
  padding: 1rem;
}

.nav-item a:nth-child(2) {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -3.5rem;
  left: 0;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  width: 15rem;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: hidden;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .nav-item a:nth-child(2) {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
  }
}

.nav-item::after {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-item:hover a:nth-child(2) {
  visibility: inherit;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.nav-item:hover::after, .nav-item.active::after {
  width: 100%;
}

.nav-item--config.active .nav-link--config {
  color: #ec7532 !important;
}

.nav-link {
  font-size: 1.6rem;
  color: #ffffff !important;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav-link--config {
  color: #4a4a4a !important;
  border: none !important;
  cursor: pointer;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.carousel-indicators {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 20%;
  left: -5%;
}

.carousel-indicators button {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
}

.carousel-indicators button.active {
  background-color: #ffffff !important;
}

.modal-content {
  border: transparent;
  background: transparent;
}

.modal-header {
  border: transparent;
}

.modal-header .btn-close:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.slick-arrow {
  font-size: 0px;
}

.slick-arrow::before {
  content: "";
  display: none;
}

.slick-arrow.slick-prev {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.slick-arrow.slick-prev::after {
  content: "<";
  font-size: 3rem;
  color: #ec7532;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.slick-arrow.slick-prev:hover {
  -webkit-transform: translate(0.5rem, -100%);
          transform: translate(0.5rem, -100%);
}

.slick-arrow.slick-prev:focus {
  outline: none;
}

.slick-arrow.slick-next {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.slick-arrow.slick-next::after {
  content: ">";
  font-size: 3rem;
  color: #ec7532;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.slick-arrow.slick-next:hover {
  -webkit-transform: translate(-0.5rem, -100%);
          transform: translate(-0.5rem, -100%);
}

.slick-arrow.slick-next:focus {
  outline: none;
}

.title {
  font-size: 2rem;
  color: #ec7532;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin: 2rem 0;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.title::after {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  bottom: -1px;
  left: 0;
  width: 15rem;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.icon-turnOn {
  color: #fbbd61;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background: transparent;
  z-index: 10;
  width: 100%;
}

.header p {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.slider__item {
  width: 100%;
  height: 60rem;
  background-size: cover;
}

.slider__item--1 {
  background: url(../img/hero-1.jpg) center center no-repeat;
}

.slider__item--2 {
  background: url(../img/hero-2.jpg) center center no-repeat;
}

.slider__item--3 {
  background: url(../img/hero-3.jpg) center center no-repeat;
}

.slider__detail {
  width: 60%;
  z-index: 5;
}

.slider__detail h2 {
  font-size: 1.5rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slider__detail h1 {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1px;
  white-space: nowrap;
}

.slider__detail p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 3rem 0;
}

.slider__detail span {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 1rem;
}

.slider__detail .btn-play {
  width: 20rem;
  height: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border: 1px solid transparent;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
}

.slider__detail .btn-play__txt {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  text-transform: uppercase;
  z-index: 8;
}

.slider__detail .btn-play__txt i {
  margin-right: 1rem;
}

.slider__detail .btn-play .overlay {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -200%;
  width: 30rem;
  height: 100%;
  background-color: #ec7532;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__detail .btn-play:hover .overlay {
  left: -50%;
}

.slider__detail .btn-play:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider__overlay {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(transparent));
  background-image: linear-gradient(to top, #000000, transparent);
}

.menu {
  position: relative;
  background-color: #000000;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.menu--pinned {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: inherit;
}

.new {
  background-color: #ffffff;
}

.new__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  position: relative;
  margin: 0 1rem;
  overflow: hidden;
}

.new__item__poster {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.new__item__poster img {
  width: 100%;
}

.new__item__poster:hover .new__item__info {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.new__item__poster:hover .new__item__overlay {
  left: -70%;
}

.new__item__info {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.new__item__info i {
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.new__item__info i:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.new__item__info a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem 0;
}

.new__item__info p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
}

.new__item__overlay {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: -600%;
  width: 90rem;
  height: 100%;
  background-color: #ec7532;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new__item h2 {
  font-size: 2rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.new__item i {
  font-size: 1.3rem;
  color: #d8d8d8;
  font-weight: 700;
  letter-spacing: 1px;
}

.new__item i .icon-turnOn {
  color: #fbbd61;
}

.showtime {
  background: #ffffff;
}

.showtime__item {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.showtime__item:first-child {
  border-top: none;
}

.showtime__poster img {
  border-radius: 10%;
}

.showtime__info h2 {
  font-size: 1.5rem;
  color: #ec7532;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.showtime__info h2 a {
  font-size: 1.5rem;
  color: #ec7532;
  font-weight: 400;
  letter-spacing: 2px;
}

.showtime__info h2 a:after {
  content: ">";
}

.showtime__info h1 {
  font-size: 2.5rem;
  color: #4a4a4a;
  font-weight: 300;
  letter-spacing: 1px;
}

.showtime__info p {
  font-size: 1.5rem;
  color: #717171;
  font-weight: 500;
  letter-spacing: 1px;
}

.showtime__left i {
  font-size: 1.3rem;
  color: #4a4a4a;
  font-weight: 700;
  letter-spacing: 1px;
}

.showtime__left span {
  font-size: 1.3rem;
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.showtime__left button {
  background: #d8d8d8;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  color: #717171;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0 0.3rem;
}

.showtime__left button.disabled {
  opacity: 0.8;
}

.showtime__right {
  font-size: 1.3rem;
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.showtime__right span {
  border-radius: 50%;
  background: #343a40;
  padding: 0.5rem;
}

.coming {
  position: relative;
}

.coming__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}

.coming__title {
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.coming__item {
  width: 100%;
  height: 60rem;
  background-size: cover;
}

.coming__item--1 {
  background: url(../img/slide-1.png) 100% 100% no-repeat;
  background-color: #000000;
}

.coming__item--2 {
  background: url(../img/slide-2.png) 100% 100% no-repeat;
  background-color: #000000;
}

.coming__item--3 {
  background: url(../img/slide-3.png) 100% 100% no-repeat;
  background-color: #000000;
}

.coming__info h2 {
  font-size: 1.5rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.coming__info h2 a {
  font-size: 1.3rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.coming__info h2 a::after {
  content: ">";
}

.coming__info h2 a:hover {
  color: #fbbd61;
}

.coming__info h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.coming__info p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.coming__date {
  color: #d8d8d8;
}

.coming__vid {
  position: relative;
}

.coming__vid i {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  background: transparent;
  border: 1px solid #fbbd61;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.coming__vid i:hover {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.coming__list {
  background-color: #000000;
}

.coming__list .container {
  position: relative;
}

.coming__list__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 1rem;
}

.coming__list__item:hover {
  opacity: 1;
}

.coming__list__poster {
  border-radius: 2rem;
  overflow: hidden;
}

.coming__list h2 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coming__list p {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact {
  background-color: #ffffff;
}

.contact h2 {
  font-size: 1.8rem;
  color: #4a4a4a;
  font-weight: 300;
  letter-spacing: 1px;
}

.contact h1 {
  font-size: 4rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer {
  background-color: #000000;
}

.footer .container {
  padding-bottom: 0;
}

.footer h1 {
  font-size: 1.6rem;
  color: #ec7532;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer a:hover {
  color: #fbbd61;
}

.footer i {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-align: center;
}

.footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .copyright p {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright a:hover {
  color: #ec7532;
}
/*# sourceMappingURL=index.css.map */