@import "./helpers/available";
@import "./helpers/function";
@import "./helpers/mixin";

@import "./base/reset";
@import "./base/custom-bs";
@import "./base/custom-slick";

// HEADER
.header {
    @include absolute(0, 0, auto, 0);
    background: transparent;
    z-index   : 10;
    width     : 100%;

    p {
        @include text(fs("body2"), tc("textWhite"), fw("fwRegular"), 0.1);
    }
}

// SLIDER
.slider {
    &__item {
        @include size(100%, 60rem);
        background-size: cover;

        &--1 {
            background: url(../img/hero-1.jpg) 100% 100% no-repeat;
        }

        &--2 {
            background: url(../img/hero-2.jpg) 100% 100% no-repeat;
        }

        &--3 {
            background: url(../img/hero-3.jpg) 100% 100% no-repeat;
        }
    }

    &__detail {
        width  : 60%;
        z-index: 5;

        h2 {
            @include text(fs("body"), tc("textSecondary"), fw("fwRegular"), 0.1);
            text-transform: uppercase;
        }

        h1 {
            @include text(fs("h1"), tc("textWhite"), fw("fwLight"), 0.1);
        }

        p {
            @include text(fs("body"), tc("textWhite"), fw("fwRegular"), 0.1);
            margin: 3rem 0;
        }

        span {
            @include text(fs("body2"), tc("textWhite"), fw("fwRegular"), 0.1);
            border       : 2px solid bc("bdWhite");
            border-radius: 50%;
            padding      : 1rem;
        }

        .btn-play {
            @include size(20rem, 4rem);
            @include button(bg("linear"), transparent, 100px);
            overflow   : hidden;
            position   : relative;
            margin-left: 1rem;

            &__txt {
                @include text(fs("body2"), tc("textWhite"), fw("fwLight"), 0.3);
                position      : relative;
                text-transform: uppercase;
                z-index       : 8;

                i {
                    margin-right: 1rem;
                }
            }

            .overlay {
                @include absolute(0, auto, 0, -200%);
                @include size(30rem, 100%);
                background-color: bg("secondary");
                transform       : skewX(45deg);
                transition      : all 0.5s;
            }

            &:hover .overlay {
                left: -50%;
            }

            &:focus {
                outline   : none;
                box-shadow: none;
            }
        }
    }

    &__overlay {
        @include absolute(auto, auto, 0, 0);
        @include size(100%, 100%);
        background-image: bg("linearOverlay");
    }
}

// NAVBAR
// NEW IN
.new {
    background-color: bg("primary");

    &__title {
        @include text(fs("h5"), tc("textSecondary"), fw("fwExtraLight"), 0.1);
        text-transform: uppercase;
        position      : relative;
        margin        : 2rem 0;
        padding       : 2rem 0;
        border-bottom : 1px solid bc("bdDark");

        &::after {
            content: "";
            @include absolute(auto, auto, -1px, 0);
            @include size(12rem, 2px);
            background-image: bg("linear");
        }
    }

    &__item {
        text-align: center;
        position  : relative;
        margin    : 0 1rem;
        overflow  : hidden;

        &__poster {
            position     : relative;
            border-radius: 2rem;
            overflow     : hidden;

            img {
                width: 100%;
            }

            &:hover {
                .new__item__info {
                    opacity  : 1;
                    transform: translate(-50%, -50%) scale(1);
                }

                .new__item__overlay {
                    left: -70%
                }
            }
        }

        &__info {
            @include absolute(50%, auto, auto, 50%);
            @include flex(center, center, column);
            transform : translate(-50%, -50%) scale(0.8);
            z-index   : 10;
            transition: all 0.5s;
            opacity   : 0;

            i {
                @include icon(8rem, 8rem, 8rem, transparent, bc("bdWhite"), fs("h5"), tc("textWhite"));
                cursor    : pointer;
                transition: all 0.4s;

                &:hover {
                    transform: scale(0.8);
                }
            }

            a {
                @include text(fs("body"), tc("textWhite"), fw("fwRegular"), 0.1);
                text-transform: uppercase;
                margin        : 1rem 0;
            }

            p {
                @include text(fs("body"), tc("textWhite"), fw("fwRegular"), 0.1);
                white-space: nowrap;
            }
        }

        &__overlay {
            @include absolute(0, auto, 0, -400%);
            @include size(70rem, 100%);
            background-color: bg("secondary");
            transform       : skewX(45deg);
            transition      : all 0.5s;
        }

        h2 {
            @include text(fs("h5"), tc("textSecondary"), fw("fwRegular"), 0.1);
            margin: 1rem 0;
        }

        i {
            @include text(fs("body2"), tc("textLight"), fw("fwBold"), 0.1);

            &.icon-turnOn {
                color: tc("textOrange");
            }
        }
    }
}

// SHOW TIMES
.showtime {
    background: bg("primary");

    &__poster img {
        border-radius: 10%;
    }

    &__info {

        h2 {
            @include text(fs("body"), tc("textSecondary"), fw("fwExtraLight"), 0.2);
            text-transform: uppercase;

            a {
                @include text(fs("body"), tc("textSecondary"), fw("fwExtraLight"), 0.2);

                &:after {
                    content: ">";
                }
            }
        }

        h1 {
            @include text(fs("h4"), tc("textDark"), fw("fwLight"), 0.1);
        }

        p {
            @include text(fs("body"), tc("textPrimary"), fw("fwRegular"), 0.1);
        }
    }

    &__left {
        span {
            @include text(fs("body2"), tc("textDark"), fw("fwRegular"), 0.1);
            text-transform: uppercase;
        }

        button {
            @include button(bg("light"), transparent, 0.25rem);
            @include text(fs("body2"), tc("textPrimary"), fw("fwLight"), 0.1);
            margin: 0 0.3rem;

            &.disabled {
                opacity: 0.8;
            }
        }
    }

    &__right {
        @include text(fs("body2"), tc("textDark"), fw("fwRegular"), 0.05);

        span {
            border-radius: 50%;
            background   : bg("dark");
            padding      : 0.5rem;
        }
    }
}

// COMING
.coming {

    &__item {
        @include size(100%, 60rem);
        background-size: cover;

        &--1 {
            background: url(../img/slide-1.png) 100% 100% no-repeat;
        }

        &--2 {
            background: url(../img/slide-2.png) 100% 100% no-repeat;
        }

        &--3 {
            background: url(../img/slide-3.png) 100% 100% no-repeat;
        }
    }

}

// CONTACT
// FOOTER