// FOOTER
.footer {
  background-color: bg("black");

  .container {
    padding-bottom: 0;
  }

  h1 {
    @include text(fs("subtitle"), tc("textSecondary"), fw("fwRegular"), 0.2);
    text-transform: uppercase;
  }

  a {
    @include text(fs("body"), tc("textWhite"), fw("fwRegular"), 0.1);
    transition: all 0.5s;

    &:hover {
      color: tc("textOrange");
    }
  }

  i {
    @include icon(2rem, 2rem, 2rem, transparent, transparent, fs("body"), tc("textDark"));
  }

  .copyright {
    border-top: 1px solid bc("bdLight");

    p {
      @include text(fs("body"), tc("textWhite"), fw("fwRegular"), 0.1);
    }

    a:hover {
      color: tc("textSecondary");
    }
  }
}