// HEADER
.header {
  @include absolute(0, 0, auto, 0);
  background: transparent;
  z-index   : 10;
  width     : 100%;

  p {
    @include text(fs("body2"), tc("textWhite"), fw("fwRegular"), 0.1);
  }
}