/* MENU */
.menu {
  background-color: c("dark");
  &__detail p {
    @include text(fs("body1"), tc("textPrimary"), fw("fwMedium"), 0.01);
  }
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.4s;
}
.menu--pinned {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 12;
  opacity: 1;
  transform: translateY(0%);
}
