/* SHOWTIMES */
.showtimes {
  background-color: c("primary");
  .nav.nav-tabs {
    .nav-item {
      position: relative;
      padding: 0 20px;

      .nav-link {
        @include text(fs("h5"), tc("textTitle"), fw("fwExtraLight"), 0.1);
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 20px;

        &.active,
        &:hover {
          border-color: transparent;
        }

        &.active {
          color: tc("textSecondary");
        }

        &::after {
          @include positionAbsolute(auto, auto, -1px, 0);
          @include size(0, 3px);
          content: "";
          display: block;
          width: 0;
          transition: all 0.4s;
          background-image: linear-gradient(
            to right,
            c("lightOrange"),
            c("secondary")
          );
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }
      }
    }
  }
  @include reponsive(rp("medium")) {
    .nav.nav-tabs {
      display: flex;
      flex-direction: column;
      .nav-item {
        .nav-link {
          @include text(fs("h6"), tc("textTitle"), fw("fwExtraLight"), 0.1);
          margin: 10px 0;
        }
      }
    }
  }

  &__item {
    padding: 40px 0;
    border-top: 1px solid bc("borderDark");
    &:first-child {
      border-top: none;
    }

    &__img img {
      border-radius: 10px;
      margin-bottom: 30px;
    }
    &__content {
      h2 {
        @include text(
          fs("subtitle"),
          tc("textSecondary"),
          fw("fwExtraLight"),
          0.2
        );
        a {
          @include text(
            fs("body2"),
            tc("textSecondary"),
            fw("fwExtraLight"),
            0.2
          );
          text-decoration: none;
          transition: all 0.4s;
          &:hover {
            @include text(
              fs("body2"),
              tc("textTitle"),
              fw("fwExtraLight"),
              0.2
            );
          }
        }
      }

      h1 {
        @include text(fs("h4"), tc("textTitle"), fw("fwLight"), 0.1);
      }
      p {
        @include text(
          fs("subtitle"),
          tc("textDarkGrey"),
          fw("fwRegular"),
          0.03
        );
      }

      .showtimes__item__sche {
        color: tc("textTitle");
        .showtimes__item__view {
          i {
            @include fontIcon(fs("body2"), tc("textDarkGrey"));
          }
          span {
            @include text(fs("body2"), tc("textTitle"), fw("fwRegular"), 0.1);
          }

          .btn {
            @include text(fs("body2"), tc("textDarkGrey"), fw("fwLight"), 0.1);
            &.time-part {
              background-color: c("grey");
              opacity: 0.5;
            }
            &.time {
              background-color: c("grey");
            }
          }
        }

        .showtimes__item__time {
          span {
            @include text(fs("body1"), tc("textPrimary"), fw("fwRegular"), 0.1);
            @include sizeIcon(30px, 30px, 30px);
            text-align: center;
            border-radius: 50%;
          }
        }
      }

      //reponsive
      @include reponsive(rp("large")) {
        h2 {
          @include text(
            fs("body2"),
            tc("textSecondary"),
            fw("fwExtraLight"),
            0.2
          );
          a {
            @include text(
              fs("body1"),
              tc("textSecondary"),
              fw("fwExtraLight"),
              0.2
            );
            &:hover {
              @include text(
                fs("body1"),
                tc("textTitle"),
                fw("fwExtraLight"),
                0.2
              );
            }
          }
        }

        p {
          @include text(fs("body1"), tc("textDarkGrey"), fw("fwRegular"), 0.03);
        }
        .showtimes__item__sche {
          display: block !important;
          .showtimes__item__view {
            i {
              @include fontIcon(fs("body1"), tc("textDarkGrey"));
            }
            span {
              @include text(fs("body1"), tc("textTitle"), fw("fwRegular"), 0.1);
            }

            .btn {
              @include text(
                fs("body1"),
                tc("textDarkGrey"),
                fw("fwLight"),
                0.1
              );
            }
          }

          .showtimes__item__time {
            span {
              @include text(
                fs("body1"),
                tc("textPrimary"),
                fw("fwRegular"),
                0.1
              );
            }
          }
        }
      }
    }
  }
}
