/* SLIDER */
.slider {
  .carousel-item {
    @include size(100%, 600px);

    .carousel-caption {
      @include positionAbsolute(50%, auto, auto, 7%);
      text-align: left;
      transform: translateY(-50%);
      width: 60%;

      h2 {
        @include text(fs("subtitle"), tc("textOrange"), fw("fwRegular"), 0.1);
      }

      h1 {
        @include text(fs("h1"), tc("textPrimary"), fw("fwLight"), 0.1);
      }

      p {
        @include text(fs("subtitle"), tc("textPrimary"), fw("fwRegular"), 0.1);
      }
      .carousel__item__trailer {
        > span {
          @include sizeIcon(40px, 40px, 40px);
          border: 2px solid bc("borderWhite");
        }

        > button {
          position: relative;
          width: 200px;
          background-image: linear-gradient(
            to right,
            c("lightOrange"),
            c("secondary")
          );
          border-radius: 200px;
          overflow: hidden;

          &:focus {
            outline: none;
          }

          .btn-txt {
            @include positionAbsolute(50%, auto, auto, 50%);
            @include text(fs("body2"), tc("textPrimary"), fw("fwRegular"), 0.2);
            transform: translate(-50%, -50%);
            z-index: 8;
            width: 100%;

            span {
              @include text(fs("body1"), tc("textPrimary"), fw("fwLight"), 0.3);
              text-transform: uppercase;
              margin-left: 10px;
            }
          }
          .btn-overlay {
            @include positionAbsolute(0, auto, auto, -400%);
            @include size(300%, 100%);
            background-color: c("secondary");
            transform: skewX(45deg);
            transition: all 0.3s linear 0s;
          }

          &:hover .btn-overlay {
            left: -100%;
          }
        }
      }
    }
    //reponsive
    @include reponsive(rp("medium")) {
      .carousel-caption {
        width: 90%;
        h2 {
          @include text(fs("body2"), tc("textOrange"), fw("fwRegular"), 0.1);
        }

        h1 {
          @include text(fs("h2"), tc("textPrimary"), fw("fwLight"), 0.1);
        }

        p {
          @include text(fs("body1"), tc("textPrimary"), fw("fwRegular"), 0.1);
        }
      }
    }

    .caurousel-item__overlay {
      @include positionAbsolute(0, auto, auto, 0);
      @include size(100%, 100%);
      background-image: linear-gradient(to top, c("black"), transparent);
    }
  }

  .item1 {
    background: url(../img/hero-1.jpg) no-repeat center center;
    background-size: cover;
  }

  .item2 {
    background: url(../img/hero-2.jpg) no-repeat center center;
    background-size: cover;
  }

  .item3 {
    background: url(../img/hero-3.jpg) no-repeat center center;
    background-size: cover;
  }
}
