//MIXIN
// font text
@mixin text($fs, $c, $fw, $pc) {
  font-size     : $fs;
  color         : $c;
  font-weight   : $fw;
  letter-spacing: spacing($pc);
}

//button
@mixin button ($bg, $bd, $br) {
  background   : $bg;
  border       : 1px solid $bd;
  border-radius: $br;
}

// icon
@mixin icon($w, $h, $lh, $bg, $bd, $fs, $c) {
  width      : $w;
  height     : $h;
  line-height: $lh;
  background : $bg;
  border     : 1px solid $bd;
  font-size  : $fs;
  color      : $c;
  text-align : center;
}

//position absolute
@mixin absolute($t, $r, $b, $l) {
  position: absolute;
  top     : $t;
  right   : $r;
  bottom  : $b;
  left    : $l;
}

//position fixed
@mixin fixed($t, $r, $b, $l) {
  position: fixed;
  top     : $t;
  right   : $r;
  bottom  : $b;
  left    : $l;
}

//size
@mixin size($w, $h) {
  width : $w;
  height: $h;
}

//display flex
@mixin flex($justify, $align, $direction) {
  display: flex;

  @if ($justify) {
    justify-content: $justify;
  }

  @if ($align) {
    align-items: $align;
  }

  @if ($direction) {
    flex-direction: $direction;
  }
}

//responsive
@mixin responsive($breakpoint) {
  @media screen and(max-width:$breakpoint) {
    @content;
  }
}